@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 1.11111vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  a:hover {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  body {
    margin-top: 80px;
  }
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.fadeIn-left {
  opacity: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 2s;
  transition: 2s;
}

.fadeIn-left.is-show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.l-about {
  padding-bottom: 146px;
  padding-bottom: 9.125rem;
}

.l-career {
  padding-bottom: 146px;
  padding-bottom: 9.125rem;
}

.l-check__inner {
  padding-bottom: 145px;
  padding-bottom: 9.0625rem;
}

.l-contact {
  padding-bottom: 150px;
  padding-bottom: 9.375rem;
  padding-top: 150px;
  padding-top: 9.375rem;
}

@media screen and (max-width: 767px) {
  .l-contact {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

.l-faq {
  padding-bottom: 146px;
  padding-bottom: 9.125rem;
}

.l-footer-hero {
  padding-top: 49px;
  padding-top: 3.0625rem;
  padding-bottom: 51px;
  padding-bottom: 3.1875rem;
}

.l-footer {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  padding-top: 30px;
  padding-top: 1.875rem;
}

.l-header {
  height: 100px;
}

@media screen and (max-width: 767px) {
  .l-header {
    height: 80px;
  }
}

.l-hero {
  background-image: url(../../../assets/images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 100px);
}

@media screen and (max-width: 767px) {
  .l-hero {
    height: calc(100vh - 80px);
    background-position: center right 17%;
  }
}

.l-recruit {
  padding-bottom: 141px;
  padding-bottom: 8.8125rem;
}

.c-about__label {
  background: -webkit-gradient(linear, left top, left bottom, from(#7d621c), color-stop(50%, #bcbcbc), to(#7d621c));
  background: linear-gradient(180deg, #7d621c 0%, #bcbcbc 50%, #7d621c 100%);
  -webkit-background-clip: text;
  color: white;
  color: #7d621c;
  display: block;
  font-family: "Noto Serif SC", serif;
  font-size: 120px;
  font-size: 7.5rem;
  font-style: italic;
  font-weight: bold;
  left: 0;
  letter-spacing: .05em;
  line-height: 1;
  position: absolute;
  -webkit-text-fill-color: transparent;
  top: -70px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .c-about__label {
    font-size: 3.75rem;
    top: -27px;
  }
}

.c-about__label--two {
  left: auto;
  right: 0;
}

.c-cta-button {
  background-color: #ffba0e;
  color: #060c41;
}

.c-hover-opacity {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.c-hover-opacity:hover {
  opacity: .6;
}

.c-page-top {
  bottom: 25px;
  height: 200px;
  position: fixed;
  right: 40px;
  width: 150px;
  z-index: 30;
}

@media screen and (max-width: 767px) {
  .c-page-top {
    bottom: 10px;
    height: 100px;
    right: 10px;
    width: 75px;
  }
}

.c-page-top a {
  display: block;
}

.c-page-top img {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 30;
}

.c-section__sub-title {
  color: rgba(0, 0, 0, .5);
  display: inline-block;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 150px;
  font-size: 9.375rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .c-section__sub-title {
    font-size: 2.25rem;
  }
}

.c-section__sub-title--recruit {
  color: rgba(255, 255, 255, .15);
  text-align: right;
}

.c-section__sub-title--career {
  color: rgba(255, 255, 255, .05);
}

.c-section__sub-title--instagram {
  color: #e0e0e0;
  text-align: right;
}

.c-section__sub-title--faq {
  color: rgba(255, 255, 255, .2);
  position: relative;
  z-index: 2;
}

.c-section__title {
  color: #fff;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1;
  position: relative;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .c-section__title {
    font-size: 1.375rem;
  }
}

.c-section__title--instagram {
  color: #333;
}

.footer-hero__text {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .footer-hero__text {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.footer-hero__text + span {
  display: inline-block;
  font-family: "MV Boli", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333;
  margin-top: 20px;
  margin-top: 1.25rem;
}

@media screen and (max-width: 767px) {
  .footer-hero__text + span {
    display: block;
    text-align: right;
    margin-top: 0.625rem;
    font-size: 0.875rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 1490px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.p-about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50.33557%;
          flex: 0 0 50.33557%;
  padding-top: 33.55704%;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .p-about__img {
    padding-top: 66.66666%;
  }
}

.p-about__img img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-about__inner {
  max-width: 1242px;
  max-width: 77.625rem;
}

.p-about__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .p-about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-about__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 62px;
  margin-top: 3.875rem;
}

@media screen and (max-width: 767px) {
  .p-about__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-about__item:nth-child(2) .p-about__textarea {
  margin-left: 0;
  margin-right: auto;
}

.p-about__item:last-child {
  margin-top: 75px;
  margin-top: 4.6875rem;
}

.p-about__items {
  margin-top: 82px;
  margin-top: 5.125rem;
}

@media screen and (max-width: 767px) {
  .p-about__items {
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
  }
}

.p-about__text {
  letter-spacing: .05em;
  line-height: 2.5;
  margin-top: 31px;
  margin-top: 1.9375rem;
}

@media screen and (max-width: 767px) {
  .p-about__text {
    line-height: 1.5;
    margin-top: 0.625rem;
  }
}

.p-about__text > span {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .p-about__text > span {
    font-size: 0.875rem;
  }
}

.p-about__textarea {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44.71476%;
          flex: 0 0 44.71476%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .p-about__textarea {
    margin-top: 1.25rem;
  }
}

.p-about__title {
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: .02em;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .p-about__title {
    font-size: 1.5rem;
  }
}

.p-about {
  background-image: url(../../../assets/images/about_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-career__button {
  margin-right: 173px;
  margin-right: 10.8125rem;
  margin-top: 58px;
  margin-top: 3.625rem;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .p-career__button {
    margin-right: 0;
  }
}

.p-career__button > a {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: .02em;
}

.p-career__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1191px;
  width: 100%;
}

.p-career__list {
  width: calc(33.33333% - 60.66667px);
}

@media screen and (max-width: 767px) {
  .p-career__list {
    width: 100%;
  }
}

.p-career__list:not(.p-career__list:nth-child(3n)) {
  margin-right: 91px;
  margin-right: 5.6875rem;
}

@media screen and (max-width: 767px) {
  .p-career__list:not(.p-career__list:nth-child(3n)) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .p-career__list + .p-career__list {
    margin-top: 2.5rem;
  }
}

.p-career__lists-wrap {
  background-color: #fff;
  margin-top: 60px;
  margin-top: 3.75rem;
  padding: 60px 52px 60px 59px;
  padding: 3.75rem 3.25rem 3.75rem 3.6875rem;
}

@media screen and (max-width: 767px) {
  .p-career__lists-wrap {
    padding: 1.875rem 0.625rem;
    max-width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-career__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .p-career__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-career__text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: .02em;
  line-height: 1.5;
  margin-top: 60px;
  margin-top: 3.75rem;
  padding-right: 278px;
  padding-right: 17.375rem;
}

@media screen and (max-width: 767px) {
  .p-career__text {
    padding-right: 0;
  }
}

.p-career__title {
  text-align: center;
  margin-top: 20px;
  margin-top: 1.25rem;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.p-career {
  background: -webkit-gradient(linear, left top, left bottom, from(#0e112c), color-stop(50%, #0e112c), color-stop(50%, #acacac), to(#acacac));
  background: linear-gradient(180deg, #0e112c 0%, #0e112c 50%, #acacac 50%, #acacac 100%);
}

.p-check__insta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: auto;
  margin-right: -25px;
  margin-right: -1.5625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  max-width: 1200px;
}

@media screen and (max-width: 767px) {
  .p-check__insta {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: auto;
    margin-right: 0;
    margin-right: auto;
    max-width: 37.5rem;
  }
}

.p-contact__form-wrap {
  background-color: #fff;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  padding-left: 140px;
  padding-left: 8.75rem;
  padding-right: 140px;
  padding-right: 8.75rem;
  padding-top: 50px;
  padding-top: 3.125rem;
}

@media screen and (max-width: 767px) {
  .p-contact__form-wrap {
    padding: 1.875rem 0.625rem;
  }
}

.p-contact__form {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-contact__text {
  color: #333;
  letter-spacing: .02em;
  line-height: 2;
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (max-width: 767px) {
  .p-contact__text {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}

.p-contact__title {
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .02em;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p-contact__title {
    font-size: 1.75rem;
  }
}

.p-contact {
  background-image: url(../../../assets/images/form_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-drawer__link {
  display: block;
}

.p-drawer__toggle-icon {
  background: #fff;
  border-radius: 5px;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  width: 27px;
}

.p-drawer__toggle-icon:nth-child(1) {
  top: 0;
}

.p-drawer__toggle-icon:nth-child(2) {
  margin: 5px 0;
}

.p-drawer__toggle-icon:nth-child(1) {
  bottom: 0;
}

.p-drawer__toggle {
  z-index: 9999;
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon {
  background-color: #fff;
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon:nth-child(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.p-drawer-menu__button {
  border-radius: 100px;
  display: inline-block;
  font-weight: bold;
  padding: 10px 40px;
}

.p-dwrawer-menu__item--button {
  display: inline-block;
}

.p-drawer-menu__item:last-child {
  margin-top: auto;
}

.p-drawer-menu__item > a {
  display: block;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  padding-top: 30px;
  padding-top: 1.875rem;
}

.p-drawer-menu__button-wrap {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  padding-top: 30px;
  padding-top: 1.875rem;
  display: block;
}

.p-drawer-menu__items {
  text-align: center;
  width: 100%;
}

.p-drawer-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  bottom: 0;
  color: #060c41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: ease .5s;
  transition: ease .5s;
  width: 70%;
}

.p-drawer-menu.is-open {
  overflow-y: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.p-faq__button-wrap {
  margin-top: 80px;
  margin-top: 5rem;
  text-align: center;
}

.p-faq__data {
  background-color: #0E112C;
  border-radius: 0 0 10px 10px;
  color: #fff;
  display: none;
  letter-spacing: .02em;
  line-height: 2;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  padding-left: 95px;
  padding-left: 5.9375rem;
  padding-right: 67px;
  padding-right: 4.1875rem;
  padding-top: 19px;
  padding-top: 1.1875rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-faq__data {
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: justify;
  }
}

.p-faq__data::before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: #0E112C;
  content: "A";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  height: 43px;
  height: 2.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 43px;
  width: 2.6875rem;
}

.p-faq__data > span {
  display: block;
}

.p-faq__def-title {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  color: #1a1a1a;
  cursor: pointer;
  line-height: 2;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  padding-left: 95px;
  padding-left: 5.9375rem;
  padding-right: 67px;
  padding-right: 4.1875rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-faq__def-title {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}

.p-faq__def-title::before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0E112C;
  border-radius: 50%;
  color: #fff;
  content: "Q";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  height: 43px;
  height: 2.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 43px;
  width: 2.6875rem;
}

.p-faq__def-title::after {
  content: "\f077";
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.5em;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.p-faq__def-title.close::after {
  top: 25%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.p-faq__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.p-faq__item + .p-faq__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-faq__items {
  margin-top: 62px;
  margin-top: 3.875rem;
}

@media screen and (max-width: 767px) {
  .p-faq__items {
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
  }
}

.p-faq {
  background-image: url(../../../assets/images/faq_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.p-faq::before {
  position: absolute;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.p-footer__logo img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .p-footer__logo img {
    width: 20%;
  }
}

.p-footer__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-top: 1.25rem;
}

@media screen and (max-width: 767px) {
  .p-footer__nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-footer__wrap {
  text-align: center;
}

.p-footer-hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.55395%;
          flex: 0 0 57.55395%;
  padding-top: 35.97122%;
}

@media screen and (max-width: 767px) {
  .p-footer-hero__img {
    width: 100%;
    padding-top: 62.5%;
  }
}

@media screen and (max-width: 767px) {
  .p-footer-hero__img {
    -o-object-position: center right;
       object-position: center right;
  }
}

.p-footer-hero__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .p-footer-hero__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
  }
}

.p-footer-hero__textarea {
  background-color: #fff;
  color: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50.35971%;
          flex: 0 0 50.35971%;
  margin-left: -140px;
  padding: 45px 26px;
  padding: 2.8125rem 1.625rem;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .p-footer-hero__textarea {
    margin-left: 0;
    padding: 0.625rem;
    width: 100%;
  }
}

.p-footer-hero {
  background-image: url(../../../assets/images/footer-hero_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-footer-nav__item:not(.p-footer-nav__item:last-child) {
  margin-right: 40px;
  margin-right: 2.5rem;
}

@media screen and (max-width: 767px) {
  .p-footer-nav__item:not(.p-footer-nav__item:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .p-footer-nav__item + .p-footer-nav__item {
    margin-top: 0.9375rem;
  }
}

.p-footer-nav__link {
  letter-spacing: .02em;
}

.p-footer-sns__item:not(.p-footer-sns__item:last-child) {
  margin-right: 24.5px;
  margin-right: 1.53125rem;
}

.p-footer-sns__items {
  margin-top: 30px;
  margin-top: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer-sns__link {
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.p-footer {
  background-color: #000;
  color: #fff;
}

.p-form__button {
  text-align: center;
  margin-top: 28px;
  margin-top: 1.75rem;
}

.p-form__data {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666666%;
          flex: 0 0 66.666666%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .p-form__data {
    margin-left: 0;
    width: 100%;
    margin-top: 0.5rem;
  }
}

.p-form__def-title {
  color: #333;
  letter-spacing: .02em;
}

.p-form__inner {
  background-color: #a3a3a3;
  border-radius: 10px;
  max-width: 900px;
  padding: 10px;
  padding: 0.625rem;
}

@media screen and (max-width: 1023px) {
  .p-form__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
  }
}

.p-form__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .p-form__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.p-form__item + .p-form__item {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-form__item--textarea {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p-form__label {
  background-color: #FF0000;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.33333;
  padding: 2px 8px;
  padding: 0.125rem 0.5rem;
  border-radius: 2px;
  display: inline-block;
  margin-left: 10px;
  margin-left: 0.625rem;
}

.p-form__privacy-wrap {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-form__privacy {
  color: #333;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .02em;
  padding-left: 47px;
  padding-left: 2.9375rem;
  position: relative;
  width: auto;
}

@media screen and (max-width: 767px) {
  .p-form__privacy {
    font-size: 0.875rem;
    padding-left: 2.3125rem;
  }
}

.p-form__privacy::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
}

.p-form__privacy::after {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  content: '';
  display: block;
  height: 9px;
  left: 9px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  width: 16px;
}

.p-form__submit {
  background-color: #0E112C;
  border: 2px solid #0E112C;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .02em;
  line-height: 1.33333;
  padding: 20px 142px;
  padding: 1.25rem 8.875rem;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
}

@media screen and (max-width: 767px) {
  .p-form__submit {
    padding: 1.25rem 3.4375rem;
    font-size: 1.125rem;
  }
}

.p-form__submit:hover {
  background-color: #fff;
  color: #0E112C;
}

.p-header__button {
  border-radius: 100px;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: .02em;
  overflow: hidden;
  padding: 22px 63px;
  padding: 1.375rem 3.9375rem;
  position: relative;
  /* 光の動き */
}

.p-header__button::before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: -150%;
  opacity: 1;
  position: absolute;
  top: 0;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  width: 140%;
}

.p-header__button:hover::before {
  -webkit-animation: shine 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: shine 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@-webkit-keyframes shine {
  0% {
    left: -150%;
    opacity: 0;
  }
  70% {
    left: -150%;
    opacity: .5;
  }
  71% {
    left: -150%;
    opacity: 1;
  }
  100% {
    left: -20%;
    opacity: 0;
  }
}

@keyframes shine {
  0% {
    left: -150%;
    opacity: 0;
  }
  70% {
    left: -150%;
    opacity: .5;
  }
  71% {
    left: -150%;
    opacity: 1;
  }
  100% {
    left: -20%;
    opacity: 0;
  }
}

.p-header__drawer {
  display: none;
  margin-left: auto;
  position: relative;
  z-index: 40;
}

@media screen and (max-width: 767px) {
  .p-header__drawer {
    display: block;
  }
}

.p-header__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.p-header__logo {
  width: 200px;
  width: 12.5rem;
}

@media screen and (max-width: 767px) {
  .p-header__logo {
    width: 6.25rem;
  }
}

.p-header__logo > a {
  display: block;
}

.p-header__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .p-header__right {
    display: none;
  }
}

.p-header-nav__item {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.p-header-nav__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-header-nav__link {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: .02em;
}

.p-header {
  background-color: #000;
  color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  width: 100%;
  z-index: 20;
}

.p-header.is-scrolled {
  background-color: rgba(0, 0, 0, .8);
}

.p-hero__author {
  display: block;
  font-family: "MV Boli", sans-serif;
  margin-top: 10px;
  margin-top: 0.625rem;
}

@media screen and (max-width: 767px) {
  .p-hero__author {
    margin-top: 0;
    text-align: right;
    line-height: 1;
  }
}

.p-hero__inner {
  height: 100%;
}

.p-hero__sub-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (max-width: 767px) {
  .p-hero__sub-title {
    font-size: 1.25rem;
  }
}

.p-hero__textarea {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .p-hero__textarea {
    padding-right: 20px;
  }
}

.p-hero__title {
  background: -webkit-gradient(linear, left top, right top, from(red), to(#ffbb0e));
  background: linear-gradient(90deg, red 0%, #ffbb0e 100%);
  display: inline-block;
  font-size: 64px;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: .05em;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  padding-top: 31px;
  padding-top: 1.9375rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-hero__title {
    font-size: 1.625rem;
    padding-bottom: 0.9375rem;
    padding-left: 0.9375rem;
    padding-top: 0.9375rem;
  }
}

.p-insta__item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-insta_decoration {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(70%, white), color-stop(70%, #acacac), to(#acacac));
  background: linear-gradient(90deg, white 0%, white 70%, #acacac 70%, #acacac 100%);
}

#loading {
  background: #333;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

#loading_box {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.loading-one {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  display: inline-block;
}

.loading-one p.loading-txt {
  color: #fff;
  font-size: 20px;
  letter-spacing: .25em;
  line-height: 2.0;
  padding: 2em 0;
}

/*==================
  .animation_loading
  ==================*/
.animation_loading {
  -webkit-animation: equalizer_loading 7000ms infinite;
          animation: equalizer_loading 7000ms infinite;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

@-webkit-keyframes equalizer_loading {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

@keyframes equalizer_loading {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

.p-recruit__button-wrap {
  margin-top: 55px;
  margin-top: 3.4375rem;
  text-align: center;
}

.p-recruit__button {
  border-radius: 100px;
  -webkit-box-shadow: 0 3px 0 5px #060C41;
          box-shadow: 0 3px 0 5px #060C41;
  /*cssの影の機能を利用してボタンの側面を描いています。ボタンの色より暗い色を指定しましょう*/
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333;
  opacity: 1;
  padding: 20px 105px;
  padding: 1.25rem 6.5625rem;
  position: relative;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  /*影を使って側面を描いた分、ボタンを上に移動しています*/
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .p-recruit__button {
    font-size: 1.125rem;
    padding: 1.25rem 3.4375rem;
  }
}

.p-recruit__button:hover {
  -webkit-box-shadow: 0 2px 0 0 #060C41;
          box-shadow: 0 2px 0 0 #060C41;
  /*hoverしたら影が縦に4px減るようにしています*/
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  /*影が減った分、下に移動させています。*/
}

.p-recruit__content {
  background-color: #fff;
  padding-bottom: 47px;
  padding-bottom: 2.9375rem;
  padding-left: 139px;
  padding-left: 8.6875rem;
  padding-right: 132px;
  padding-right: 8.25rem;
  padding-top: 47px;
  padding-top: 2.9375rem;
}

@media screen and (max-width: 767px) {
  .p-recruit__content {
    padding-bottom: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 1.25rem;
  }
}

.p-recruit__contents {
  background-color: #a3a3a3;
  border-radius: 10px;
  padding: 10px;
  padding: 0.625rem;
}

@media screen and (max-width: 767px) {
  .p-recruit__contents {
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
  }
}

.p-recruit__data {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72.76688%;
          flex: 0 0 72.76688%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .p-recruit__data {
    margin-left: 0;
  }
}

.p-recruit__data > span {
  display: inline-block;
}

.p-recruit__def-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.94335%;
          flex: 0 0 13.94335%;
}

@media screen and (max-width: 767px) {
  .p-recruit__def-title {
    width: 100%;
    border-bottom: 2px dotted #333;
    text-align: center;
    padding-bottom: 0.3125rem;
    margin-bottom: 0.3125rem;
  }
}

.p-recruit__def {
  font-family: "Roboto", sans-serif;
}

.p-recruit__img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 32%;
  position: relative;
  width: 80%;
}

.p-recruit__img img {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.p-recruit__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  width: 100%;
}

.p-recruit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .p-recruit__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-recruit__item + .p-recruit__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-recruit__text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 81px;
  margin-top: 5.0625rem;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p-recruit__text {
    font-size: 0.75rem;
  }
}

.p-recruit__text::before, .p-recruit__text::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 67px;
}

.p-recruit__text::before {
  left: 0;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.p-recruit__text::after {
  right: 0;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.p-recruit__text > span {
  display: inline-block;
}

.p-recruit__text--en {
  font-family: "Lato", sans-serif;
}

.p-recruit {
  background-image: url(../../../assets/images/recruit_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appp {
  margin: 1px;
}

.p-career__img {
  padding-top: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-career__img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 60%;
  }
}

.p-career__img img {
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0;
}

.fab {
  font-size: 1.5em;
}

input[type="text"],
input[type="email"],
textarea {
  border: solid 1px #5b5b5b;
  border-radius: 2px;
  padding: 17px 20px;
  padding: 1.0625rem 1.25rem;
  width: 100%;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

input[type=checkbox]:checked + .p-form__privacy::after {
  opacity: 1;
}

input[type="text"],
input[type="email"],
textarea {
  -webkit-transition: border-color .5s, -webkit-box-shadow .5s;
  transition: border-color .5s, -webkit-box-shadow .5s;
  transition: box-shadow .5s, border-color .5s;
  transition: box-shadow .5s, border-color .5s, -webkit-box-shadow .5s;
}

input[type="text"]:hover, input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:focus {
  border-color: #ffba0e;
  -webkit-box-shadow: 0 0 8px -2px #ffba0e;
          box-shadow: 0 0 8px -2px #ffba0e;
}

.p-form__privacy::before {
  -webkit-transition: border-color .5s, -webkit-box-shadow .5s;
  transition: border-color .5s, -webkit-box-shadow .5s;
  transition: border-color .5s, box-shadow .5s;
  transition: border-color .5s, box-shadow .5s, -webkit-box-shadow .5s;
}

.p-form__privacy:hover::before {
  border-color: #ffba0e;
  -webkit-box-shadow: 0 0 7px -1px #ffba0e;
          box-shadow: 0 0 7px -1px #ffba0e;
}

.line-arrow {
  position: relative;
}

.line-arrow::before {
  background-color: #333;
  bottom: -8px;
  content: "";
  display: block;
  height: 2px;
  /*傾きを調節*/
  left: 0;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 200%;
}

@media screen and (max-width: 767px) {
  .line-arrow::before {
    width: 110%;
  }
}

.line-arrow::after {
  background: #333;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: -102%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all .3s;
  transition: all .3s;
  /*アニメーションの指定*/
  /*矢印の形状*/
  width: 15px;
}

@media screen and (max-width: 767px) {
  .line-arrow::after {
    right: -10%;
  }
}

/*hoverした際の移動*/
.line-arrow:hover::before {
  width: 220%;
}

@media screen and (max-width: 767px) {
  .line-arrow:hover::before {
    width: 110%;
  }
}

.line-arrow:hover::after {
  right: -122%;
}

@media screen and (max-width: 767px) {
  .line-arrow:hover::after {
    right: -10%;
  }
}

.u-img-aspect {
  position: relative;
}

.u-img-aspect img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
