@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 1.11111vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  a:hover {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.l-about {
  padding-bottom: 146px;
  padding-bottom: 9.125rem;
}

.l-career {
  padding-bottom: 145px;
  padding-bottom: 9.0625rem;
}

.l-footer {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  padding-top: 30px;
  padding-top: 1.875rem;
}

.l-header {
  height: 100px;
}

.l-hero {
  background-image: url(../../../assets/images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}

.l-recruit {
  padding-bottom: 141px;
  padding-bottom: 8.8125rem;
}

.c-about__label {
  background: -webkit-gradient(linear, left top, left bottom, from(#7d621c), color-stop(50%, #bcbcbc), to(#7d621c));
  background: linear-gradient(180deg, #7d621c 0%, #bcbcbc 50%, #7d621c 100%);
  -webkit-background-clip: text;
  color: white;
  color: #7d621c;
  display: block;
  font-family: "Noto Serif SC", serif;
  font-size: 120px;
  font-size: 7.5rem;
  font-style: italic;
  font-weight: bold;
  left: 0;
  letter-spacing: .05em;
  line-height: 1;
  position: absolute;
  -webkit-text-fill-color: transparent;
  top: -70px;
  z-index: 2;
}

.c-cta-button {
  background-color: #FFBA0E;
  color: #060C41;
}

.c-section__sub-title {
  color: rgba(0, 0, 0, .5);
  display: inline-block;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 150px;
  font-size: 9.375rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.c-section__sub-title--recruit {
  color: rgba(255, 255, 255, .15);
  text-align: right;
}

.c-section__sub-title--career {
  color: rgba(255, 255, 255, .05);
}

.c-section__title {
  color: #fff;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .05em;
  text-align: center;
  line-height: 1;
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 1490px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.p-about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50.33557%;
          flex: 0 0 50.33557%;
  padding-top: 33.55704%;
  position: relative;
  width: 100%;
}

.p-about__img img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-about__inner {
  max-width: 1242px;
}

.p-about__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-about__item:nth-child(2) {
  margin-top: 62px;
  margin-top: 3.875rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-about__item:nth-child(2) .p-about__textarea {
  margin-left: 0;
  margin-right: auto;
}

.p-about__item:last-child {
  margin-top: 75px;
  margin-top: 4.6875rem;
}

.p-about__items {
  margin-top: 82px;
  margin-top: 5.125rem;
}

.p-about__text {
  letter-spacing: .05em;
  line-height: 2.5;
  margin-top: 31px;
  margin-top: 1.9375rem;
}

.p-about__text > span {
  display: inline-block;
}

.p-about__textarea {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44.71476%;
          flex: 0 0 44.71476%;
  margin-left: auto;
}

.p-about__title {
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: .02em;
  line-height: 1;
}

.p-about {
  background-image: url(../../../assets/images/about_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-career__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1191px;
  width: 100%;
}

.p-career__list {
  width: calc(33.33333% - 60.66667px);
}

.p-career__list:not(.p-career__list:nth-child(3n)) {
  margin-right: 91px;
  margin-right: 5.6875rem;
}

.p-career__lists-wrap {
  background-color: #fff;
  padding: 60px 52px 60px 59px;
  padding: 3.75rem 3.25rem 3.75rem 3.6875rem;
  margin-top: 60px;
  margin-top: 3.75rem;
}

.p-career__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-career__text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-top: 60px;
  margin-top: 3.75rem;
  padding-right: 278px;
  padding-right: 17.375rem;
}

.p-career__title {
  text-align: center;
  margin-top: 20px;
  margin-top: 1.25rem;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.p-career {
  background: -webkit-gradient(linear, left top, left bottom, from(#0e112c), color-stop(50%, #0e112c), color-stop(50%, #acacac), to(#acacac));
  background: linear-gradient(180deg, #0e112c 0%, #0e112c 50%, #acacac 50%, #acacac 100%);
}

.p-footer__logo img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

.p-footer__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-footer__wrap {
  text-align: center;
}

.p-footer-nav__item:not(.p-footer-nav__item:last-child) {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.p-footer-nav__link {
  letter-spacing: .02em;
}

.p-footer-sns__item:not(.p-footer-sns__item:last-child) {
  margin-right: 24.5px;
  margin-right: 1.53125rem;
}

.p-footer-sns__items {
  margin-top: 30px;
  margin-top: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer-sns__link {
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.p-footer {
  background-color: #000;
  color: #fff;
}

.p-header__button {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: .02em;
  padding: 22px 63px;
  padding: 1.375rem 3.9375rem;
  border-radius: 100px;
}

.p-header__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.p-header__logo {
  width: 200px;
}

.p-header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-header-nav__item {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.p-header-nav__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-header-nav__link {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: .02em;
}

.p-header {
  background-color: #000;
  color: #fff;
}

.p-hero__author {
  display: block;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-hero__sub-title {
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-hero__textarea {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-hero__title {
  background: -webkit-gradient(linear, left top, right top, from(red), to(#ffbb0e));
  background: linear-gradient(90deg, red 0%, #ffbb0e 100%);
  display: inline-block;
  font-size: 64px;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: .05em;
  padding-top: 31px;
  padding-top: 1.9375rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 30px;
  padding-left: 1.875rem;
}

.p-recruit__button-wrap {
  margin-top: 55px;
  margin-top: 3.4375rem;
  text-align: center;
}

.p-recruit__button {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333;
  padding: 20px 105px;
  padding: 1.25rem 6.5625rem;
  border-radius: 100px;
  position: relative;
  opacity: 1;
  z-index: 1;
}

.p-recruit__button::before {
  position: absolute;
  top: -3px;
  left: -16px;
  width: 110%;
  height: 119%;
  z-index: -1;
  content: "";
  display: block;
  background-color: #060C41;
  border-radius: 100px;
}

.p-recruit__content {
  background-color: #fff;
  padding-top: 47px;
  padding-top: 2.9375rem;
  padding-bottom: 47px;
  padding-bottom: 2.9375rem;
  padding-left: 139px;
  padding-left: 8.6875rem;
  padding-right: 132px;
  padding-right: 8.25rem;
}

.p-recruit__contents {
  background-color: #A3A3A3;
  border-radius: 10px;
  padding: 10px;
  padding: 0.625rem;
}

.p-recruit__data {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72.76688%;
          flex: 0 0 72.76688%;
  margin-left: auto;
}

.p-recruit__data > span {
  display: inline-block;
}

.p-recruit__def-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.94335%;
          flex: 0 0 13.94335%;
}

.p-recruit__def {
  font-family: "Roboto", sans-serif;
}

.p-recruit__img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 32%;
  position: relative;
  width: 80%;
}

.p-recruit__img img {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.p-recruit__inner {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-recruit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-recruit__item + .p-recruit__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-recruit__text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 81px;
  margin-top: 5.0625rem;
  position: relative;
  text-align: center;
}

.p-recruit__text::before, .p-recruit__text::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 67px;
}

.p-recruit__text::before {
  left: 0;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.p-recruit__text::after {
  right: 0;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.p-recruit__text > span {
  display: inline-block;
}

.p-recruit__text--en {
  font-family: "Lato", sans-serif;
}

.p-recruit {
  background-image: url(../../../assets/images/recruit_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appp {
  margin: 1px;
}

.p-career__img {
  padding-top: 100%;
  position: relative;
}

.p-career__img img {
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0;
}

.fab {
  font-size: 1.5em;
}
