.c-page-top {
  bottom: 25px;
  height: 200px;
  @include mq(md) {
    bottom: 10px;
    height: 100px;
    right: 10px;
    width: 75px;
  }
  position: fixed;
  right: 40px;
  width: 150px;
  z-index: $layer-floating;
}

.c-page-top a {
  display: block;
  &:hover {
    animation: fuwafuwa 2s infinite;
  }

  @keyframes fuwafuwa {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

.c-page-top img {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $layer-floating;
}