.c-section__sub-title {
  color: rgba(0, 0, 0, .5);
  font-family: $second-font-family;
  font-size: rem(150);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}