.c-section__title {
  color: $white;
  font-size: rem(48);
  font-weight: bold;
  @include mq(md) {
    font-size: rem(22);
  }
  letter-spacing: .05em;
  line-height: 1;
  position: relative;
  text-align: center;
  z-index: $layer-up;
}

.c-section__title--career {
  text-align: left;
  letter-spacing: 0;
}

.c-section__title--instagram {
  color: #333;
  letter-spacing: 0.02em;
}

.c-section__title--instagram > span {
  font-family: $second-font-family;
  display: inline-block;
}