.p-about__img {
  flex: 0 0 50.33557%;
  padding-top: 33.55704%;
  position: relative;
  width: 100%;
  @include mq(md) {
    padding-top: 66.66666%;
  }
}

.p-about__img img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: inherit;
  object-fit: cover;
}