.p-about__text {
  @include mq(md) {
    line-height: 1.5;
    margin-top: rem(10);
  }
  letter-spacing: .05em;
  line-height: calc( 40 / 16);
  margin-top: rem(31);
}

.p-about__text > span {
  display: inline-block;
  @include mq(md) {
    font-size: rem(14);
  }
}