.p-career__lists-wrap {
  background-color: $white;
  @include mq(md) {
    padding: rem(30) rem(10);
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;
  }
  margin-top: rem(60);
  padding: rem(60) rem(52) rem(60) rem(59);
}