.p-career__lists-wrap {
  background-color: $white;
  @include mq(md) {
    margin-left: auto;
    margin-right: auto;
    max-width: rem(600);
    padding: rem(30) rem(10);
  }
  max-width: 1191px;
  margin-top: rem(60);
  padding: rem(60) rem(52) rem(60) rem(59);
}