.p-check {
  position: relative;
  &::after {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(172,172,172,1) 70%, rgba(172,172,172,1) 100%);
    // background-color: rgb(172,172,172);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $layer-background;
  }
}