.p-form__inner {
  background-color: $gray;
  border-radius: 10px;
  max-width: 900px;
  padding: rem(10);
  //   background-color: $white;
  //   padding-top: rem(50);
  //   padding-bottom: rem(50);
}