.p-hero__title {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,187,14,1) 100%);
  display: inline-block;
  font-size: rem(64);
  font-weight: bold;
  letter-spacing: .05em;
  padding-top: rem(31);
  padding-bottom: rem(32);
  padding-left: rem(30);
}