.p-header__button {
  border-radius: 100px;
  box-shadow: 0 0 0 5px #060c41;
  display: inline-block;
  font-size: rem(18);
  font-weight: bold;
  letter-spacing: .02em;
  overflow: hidden;
  padding: rem(17) rem(63);
  position: relative;
  line-height: calc(16/18);
  &::before {
    animation: shiny-btn1 3s infinite;
    background-color: #fff;
    content: '';
    display: inline-block;
    height: 100%;
    left: -25px;
    position: absolute;
    top: -53px;
    width: 30px;
  }
  &:hover {
    &::before {
      animation: shine 1.5s ease-in-out infinite;
    }
  }
  /* 光の動き */
  @keyframes shine {
    0% {
      opacity: 0;
      -webkit-transform: scale(0) rotate(45deg);
    }
    20% {
      opacity: .5;
      -webkit-transform: scale(0) rotate(45deg);
    }
    21% {
      opacity: 1;
      -webkit-transform: scale(0) rotate(45deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(50) rotate(45deg);
    }
  }
}