.p-hero__title {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,187,14,1) 100%);
  display: inline-block;
  font-size: rem(64);
  font-weight: bold;
  // padding-right: rem(30);
  @include mq(md) {
    font-size: rem(26);
    padding-bottom: rem(15);
    padding-left: rem(15);
    padding-top: rem(15);
  }
  letter-spacing: .05em;
  padding-bottom: rem(32);
  padding-left: rem(30);
  padding-top: rem(31);
  position: relative;
}

.p-hero__title > span {
  letter-spacing: -.41em;
}