.p-hero__textarea {
  color: $white;
  @include mq(md) {
    padding-left: 0;
    padding-right: $padding-sp;
  }
  padding-left: rem(96);
  padding-right: rem(96);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}