.p-header__button {
  border-radius: 100px;
  display: inline-block;
  font-size: rem(18);
  font-weight: bold;
  letter-spacing: .02em;
  overflow: hidden;
  padding: rem(22) rem(63);
  position: relative;
  &::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: -150%;
    opacity: 1;
    position: absolute;
    top: 0;
    transform: skewX(-45deg);
    width: 140%;
  }
  &:hover {
    &::before {
      animation: shine 2s cubic-bezier(.5, 0, .5, 1) infinite;
    }
  }
  /* 光の動き */
  @keyframes shine {
    0% {
      left: -150%;
      opacity: 0;
    }
    70% {
      left: -150%;
      opacity: .5;
    }
    71% {
      left: -150%;
      opacity: 1;
    }
    100% {
      left: -20%;
      opacity: 0;
    }
  }
}