.p-hero__author {
  display: block;
  font-family: $author-font-family;
  font-style: italic;
  font-weight: 400;
  @include mq(md) {
    line-height: 1;
    margin-top: 0;
    text-align: right;
  }
  margin-top: rem(10);
}