.p-recruit__def-title {
  flex: 0 0 13.94335%;
  @include mq(md) {
    width: 100%;
    border-bottom: 4px double #333;
    // text-align: center;
    padding-bottom: rem(5);
    margin-bottom: rem(5);
  }
}