.p-recruit__content {
  background-color: $white;
  @include mq(md) {
    padding-bottom: rem(20);
    padding-left: rem(10);
    padding-right: rem(10);
    padding-top: rem(20);
  }
  padding-bottom: rem(47);
  padding-left: rem(135);
  padding-right: rem(132);
  padding-top: rem(57);
}