.p-recruit__text {
  color: $white;
  display: inline-block;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(12);
  }
  line-height: calc(30/20);
  margin-top: rem(81);
  position: relative;
  text-align: center;
  &::before,
  &::after {
    background-color: $white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
    width: 2px;
  }
  &::before {
    left: -15px;
    top: 0;
    transform: rotate(-31deg);
  }
  &::after {
    right: -15px;
    top: 0;
    transform: rotate(31deg);
  }
}

.p-recruit__text > span {
  display: inline-block;
}

.p-recruit__text--en {
  font-family: $second-font-family;
}