.p-recruit__img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 32%;
  position: relative;
  width: 80%;
}

.p-recruit__img img {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}