.p-career__img {
  @include mq(md) {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 60%;
  }
  padding-top: 100%;
  position: relative;
}

.p-career__img img {
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0;
}